
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('resources/img/post-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>Crea tu nuevo itinerario</h1>
                        <h2 class="subheading">Escoge entre un sinfín de opciones de ciudades y actividades</h2>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
     <article>

          <article>
         <div class="container" ng-controller='eventoCtrl'  >

    <div style="float:left; width:50%;">
<!--Left  Column some text goes here -->
    <div class="tab-content">
        <div id="tab1" class="tab active">
             <form  ng-submit="newEvento()">
              <fieldset>
                <legend ><b>Agregar evento:</b></legend>
              
         <p id="label">Escribir evento:</p> <input ng-model="nombreEvento">
         <p id="label">Escribir fecha inicio:</p><input type="date"  ng-model="fechaInicio">
          <p id="label">Escribir fecha final:</p><input type="date"  ng-model="fechaFinal">
          <br>
          <input type ="submit" value="Agregar">
          </fieldset>
         </form>

        </div>

        <div id="tab2" class="tab">


        </div>

        <div id="tab3" class="tab">

        </div>

        <div id="tab4" class="tab">

        </div>
        <div id="tab5" class="tab">

        </div>
    </div>

    </div>

 <div style="float:right; width:50%;"  >
  <!--Right Column-->
<fieldset>
  <legend><b>Eventos</b></legend>
<select id="eventosSelect" size="10" ng-model="eventoSeleccionada">
  <option ng-repeat="evento in eventos">{{evento.nombre }}</option>
</select>
</fieldset>

<div>
<button type="button" ng-click="guardarTodosLosEventos()" onclick="alert('Se han guardado todos los eventos')" ui-sref="nuevoItinerario">Guardar</button>
<button type="button" ng-click="borrar()" onclick="alert('Se ha borrado el últim elemento')">Borrar</button>

</div>

                    </div>
                </div>


    </article>

    <hr>


</body>

</html>